@font-face {
    font-family: "Fira";
    src: local("Fira"),
      url("../fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  }
  
*{
    margin: 0;
    font-family: "Fira";
}
p{
    color: white;
}
.app{
    background-color: #050C14;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:.5fr repeat(4, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas: 
    'nav nav nav nav nav'
    'side main main main .'
    ;
}
.nav{
    padding: 1% 1% 1% 1%;
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'image . . links links';
}
.links{
    grid-area: links;
}
.side{
    grid-area: side;
    .side-line{
        position: fixed;
        bottom: 0;
        left: -7%;
        height: 1.333px;
        width: 333px;
        background-color: white;
        transform: rotate(90deg);
    }
}
.main{
    grid-area: main;
    .bio{
        padding: 5% 0 0 0;
    }
    .name{
        color: white;
        font-size: 6rem;
    }
    .sub-name{
        color: #1D70A2;
        font-size: 2.5rem;
        opacity: .8;
    }
}


.button{
    span{
        filter: brightness(1.3);
    }
}
